@model Actor

<div class="container">
    <!-- Page Title -->
    <div class="row mb-4 align-items-center">
        <div class="col-12">
            <h2 class="display-6 fw-bold">Update Actor</h2>
        </div>
    </div>

    <!-- Form Section -->
    <div class="row my-3">
        <div class="col-12">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">

                    <form method="post" enctype="multipart/form-data">
                        <!-- Name -->
                        <div class="mb-3">
                            <label for="Name" class="form-label fw-semibold">Name</label>
                            <input type="text" class="form-control form-control-lg" 
                                   placeholder="Enter Actor name" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <!-- Img -->
                        <div class="mb-3">
                            <label for="Img" class="form-label fw-semibold">Img</label>
                            <input type="file" class="form-control form-control-lg" id="Img" name="Img" onchange="preViewImage(event)">
                      
                        </div>
                        <div class="mb-3">
                            <img id="preview"
                                 src="~/images/actors/@Model.Img"
                                 alt="Current Image"
                                 style="max-width:200px ; border:1px solid #ccc ;padding:5px; border-radius:10px;" />
                        </div>
                        <!-- Movie Name -->
                        <div class="mb-3">
                            <label for="MovieName" class="form-label fw-semibold">Movie Name</label>
                            <select name="MovieId" class="form-select" id="MovieName">
                                @foreach (var item in ViewBag.Movies)
                                {
                                    @if (ViewBag.MovieId == item.Id)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="MovieId" class="text-danger"></span>
                        </div>


                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary btn-lg w-100 shadow-sm">
                            <i class="fas fa-edit me-2"></i> Update Actor
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
        function preViewImage(event) {
        const input = event.target;
        const preview = document.getElementById("preview");

        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

@section Scripts{
    <partial name="_ValidationScriptsPartial">
}
